


.marketing{
    padding-right: 1rem;
    padding-left: 1rem;
}




@media (min-width: 48em) {
    .container {
        max-width: 46rem;
    }
}
.container-narrow > hr {
    margin: 2rem 0;
}

.jumbotron {
    text-align: center;
    border-bottom: .05rem solid #e5e5e5;
}
.jumbotron .btn {
    padding: .75rem 1.5rem;
    font-size: 1.5rem;
}

.marketing {
    margin: 3rem 0;
}
.marketing p + h4 {
    margin-top: 1.5rem;
}

@media screen and (min-width: 48em) {

    .marketing {
        padding-right: 0;
        padding-left: 0;
    }

    .jumbotron {
        border-bottom: 0;
    }
}



